<ion-header>

  <ion-navbar>
    <ion-title>Choose your Hand</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: transparent;">

  <div style="margin:0px; padding:0px; display:flex; flex-flow: row wrap; justify-content: flex-start; align-content: center;">
    <div *ngFor="let option of options; let i=index">
      <img height="120px" width="120px" src="assets/imgs/{{option}}.png" (tap)="Dismiss(i)">
    </div>
  </div>

</ion-content>
