<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Duel Of The Fates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img [src]="fight" />
    <ion-row>
      <ion-col text-center>
        <h3>Score Vader:</h3>
        <h2> {{scoreVader}} </h2>
      </ion-col>
      <ion-col text-center>
        <h3>Score ObiWan:</h3>
        <h2> {{scoreObi}}</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="gameResult">
      <ion-item text-center>
        <ion-label>{{gameResult.outcome}}</ion-label>
      </ion-item>
      <ion-row>
        <ion-col text-center>
          <img height="100px" width="100px" src="assets/imgs/{{gameResult.computerTool}}.png">
        </ion-col>
        <ion-col text-center>
          <img height="100px" width="100px" src="assets/imgs/{{gameResult.userTool}}.png">
        </ion-col>
      </ion-row>
      <ion-item *ngIf="gameResult.winner=='user'" text-center color="secondary">
        <span style="color:black">Winner: Obi-Wan</span>
      </ion-item>
      <ion-item *ngIf="gameResult.winner=='computer'" text-center color="danger">Winner: Vader</ion-item>
      <ion-item *ngIf="gameResult.winner=='tie'" text-center color="dark">Nobody won... </ion-item>
    </div>
  </ion-card>


</ion-content>
