<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button round color="danger" (click)="Close()">Skip</button>
    </ion-buttons>
      <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding style="background-color: black; color: white; " >
  <div *ngIf="multipleScenes==false">
    <ion-list *ngIf="loaded" style="background-color: black; color: white; ">
      <ion-item style="background-color: black; color: white; ">
        <img [src]="sceneImage" />
      </ion-item>
      <ion-item text-center text-wrap *ngFor="let caption of subtitles" style="background-color: black; color: white; ">
        <ion-label style="background-color: black; color: white; " text-center text-wrap>{{caption}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="multipleScenes==true">
    <ion-slides *ngIf="loaded" style="background-color: black; color: white; ">
      <ion-slide *ngFor="let scene of scenes" style="background-color: black; color: white; ">
        <img [src]="scene.image" />
        <ion-item style="background-color: black; color: white; " text-center text-wrap *ngFor="let caption of scene.subtitles">
          <ion-label style="background-color: black; color: white; " text-center text-wrap>{{caption}}</ion-label>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
