<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="mainMenu">
    <ion-list no-lines>
      <button menuClose ion-item (click)="openPage('InstructionsPage')">
        <ion-avatar item-start>
          <img src="assets/imgs/avatar.jpg">
        </ion-avatar>
        Instructions
      </button>
      <button menuClose ion-item (click)="openPage('OnlineTournamentPage')">
        <ion-avatar item-start>
          <img src="assets/imgs/trophee.jpg">
        </ion-avatar>
        OnLine Tournament
      </button>
      <!-- <button menuClose ion-item (click)="openPage('HomePage')">
        <ion-avatar item-start>
          <img src="assets/imgs/biff.jpg">
        </ion-avatar>
        Play against Biff
        <p>Server Logic</p>
      </button> -->
      <button menuClose ion-item (click)="openPage('GameVaderPage')">
        <ion-avatar item-start>
          <img src="assets/imgs/vaderSplash.jpg">
        </ion-avatar>
        Play against Lord Vader
        <p>Mobile Logic</p>
      </button>
      <button menuClose ion-item (click)="openPage('ObiwanVsVaderPage')">
        <ion-avatar item-start>
          <img src="assets/imgs/fight1.jpg">
        </ion-avatar>
        ObiWan vs Darth Vader
        <p text-wrap>Computer vs Computer - Duel of the Fates</p>
      </button>
      <button menuClose ion-item (click)="openPage('AboutPage')">
        <ion-avatar item-start>
          <img src="assets/imgs/me.jpg">
        </ion-avatar>
        About me
      </button>    
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
