<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Game Arena</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <img src="assets/imgs/macfly.jpg">
    </ion-item>
    <button ion-button full color="danger" (click)="Play()">Try your luck against the computer!</button>
    <ion-row *ngIf="gameResult">
      <ion-col text-center>
        <p>you</p>
        <img src="assets/imgs/{{gameResult.userTool}}.png">
      </ion-col>
      <ion-col text-center>
        <p>me</p>
        <img src="assets/imgs/{{gameResult.computerTool}}.png">
      </ion-col>
    </ion-row>
    <div *ngIf="gameResult">
      <ion-item *ngIf="gameResult.winner=='user'" text-center color="secondary"><span style="color:black">Winner: {{userName}}</span></ion-item>
      <ion-item *ngIf="gameResult.winner=='computer'" text-center color="danger">Winner: Computer ! haha I won !</ion-item>
      <ion-item *ngIf="gameResult.winner=='tie'" text-center color="dark">Nobody won... </ion-item>
    </div>
  </ion-list>
</ion-content>
