page-lobby {
  .setCoverImage {
    background-image: url('../assets/imgs/Sith_reunion.jpg');        
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;     
  }
  .segmentBtn {
    background-color: black;
    padding: 0px;
    margin: 0px;
  }
  .toolbar-background {
    background-color: black;    
  }  
  .transparent {
    background-color: rgba(255, 0, 0, 0.15) !important;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  .transparentCard {
    background-color: rgba(255, 0, 0, 0.15) !important;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
  }
}

.alertCSS {
  background-color: rgba(255, 0, 0, 0.2);
  .myOkButtonCSS {
    margin: 5px;
    font-size: 1.8rem;
    color: white;
    background-color: black;
    border-radius: 20px;
  }
  .myNoButtonCSS {
    margin: 5px;
    font-size: 1.8rem;
    color: white;
    background-color: red;
    border-radius: 20px;
  }
}

.alertCSS2 {
  background-color: rgba(255, 0, 0, 0.5);
  .myOkButtonCSS {
    margin: 5px;
    font-size: 1.8rem;
    color: white;
    background-color: blue;
    border-radius: 20px;
  }
}
