<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OnLine Tournament</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: black;" class="setCoverImage">

  <ion-card class="loginCard">
    <ion-list>
      <ion-item *ngIf="showName">
        <ion-label floating>Your Sith Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-row >
        <ion-col >
          <button text-center ion-item color="primary" (click)="Login()">Login</button>
        </ion-col>
        <ion-col >
          <button text-center ion-item color="secondary" (click)="Register()">{{register}}</button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>
</ion-content>
