page-battle-arena {

    .setCoverImage {

        background-image: url('../assets/imgs/SithCombatArena.jpg');        
        background-repeat: no-repeat;
        background-size:cover;   
    }

    .transparent{
        background-color: transparent !important;
    }

    .toolbar-background {
        background-color: black;    
      }  

}
