<ion-header color="danger">
  <ion-navbar>
    <ion-title>Sith Battle Arena</ion-title>
    <ion-buttons start>
      <button ion-button style="color:green; background-color: transparent;" (click)="ChickenOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="setCoverImage">
  <ion-list>
    <ion-row color="light">
      <ion-col color="light" *ngIf="roomOwner" text-wrap text-center>
        <ion-label color="light">{{roomOwner.name}}</ion-label>
        <p style="color:white">Title: {{Title(roomOwner.wins,roomOwner.losses)}}</p>
        <p style="color:white">Score: {{roomOwnerScore}}</p>
      </ion-col>
      <ion-col color="light" *ngIf="challenger; else computer" text-wrap text-center>
        <ion-label color="light">{{challenger.name}}</ion-label>
        <p style="color:white">Title: {{Title(challenger.wins,challenger.losses)}}</p>
        <p style="color:white">Score: {{challengerScore}}</p>
      </ion-col>
      <ng-template #computer>
        <ion-col color="light" text-wrap text-center>
          <ion-label color="light">Sith A.I.</ion-label>
          <p style="color:white">Title: Sith Minion</p>
          <p style="color:white">Score: {{challengerScore}}</p>
        </ion-col>
      </ng-template>
    </ion-row>
    <button text-center text-wrap ion-item [disabled]="playBtnDisable" block style="color:red; background-color: black; font-weight: bold"
      (click)="Play()">Choose your fate</button>
    <ion-card text-center text-wrao class="transparent" *ngIf="gameResults">
      <div text-center text-wrap *ngFor="let gameResult of gameResults">
        <h2 style="color:white; background-color: transparent;" text-center>{{gameResult.outcome}}</h2>
        <ion-row text-center>
          <ion-col col-6 text-center>
            <img src="assets/imgs/{{gameResult.user1Tool}}.png">
          </ion-col>
          <ion-col col-6>
            <img src="assets/imgs/{{gameResult.user2Tool}}.png">
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
