page-game-vader-arena {
  .action-sheets-basic-page {
    .ion-md-share {
      color: #ED4248;
    }

    .ion-md-arrow-dropright-circle {
      color: #508AE4;
    }

    /* .action-sheet-cancel ion-icon, .action-sheet-destructive ion-icon {color: #757575;}  */
    .impress {
      color: black;

      .ion-md-heart-outline {
        color: red;
      }
    }

    .impress:hover {
      color: white;

      .ion-md-heart-outline {
        color: white;
      }

      background-color:red;
    }
  }

  ion-content, ion-row, ion-col, ion-item {
      background-color: black !important; color: white !important; 
  }


}
