<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vader Arena</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-row>
    <ion-col text-center>
      <img width="100%" height="150px" (tap)="VaderTouched()" src="assets/imgs/vader1.jpg" />
    </ion-col>
    <ion-col col-1 text-center>
      <span style="line-height: 150px; vertical-align: middle">Vs</span>
    </ion-col>
    <ion-col text-center>
      <img height="150px" (tap)="TakePicture()" [src]="userImg" />
    </ion-col>
  </ion-row>

  <ion-list>
    <button ion-button full color="danger" [disabled]="disablePlay" (click)="Play()">Play!</button>
    <ion-row>
      <ion-col text-center text-wrap>
        <h4>Score Vader</h4>
        <h3> {{scoreVader}} </h3>
      </ion-col>
      <ion-col text-center text-wrap>
        <h4>Score {{userName}}</h4>
        <h3> {{scoreUser}}</h3>
      </ion-col>
    </ion-row>
    <div *ngIf="gameResult">
      <ion-item text-center>
        <ion-label>{{gameResult.outcome}}</ion-label>
      </ion-item>
      <ion-row>
        <ion-col text-center>
          <p>Vader</p>
          <img height="80px" src="assets/imgs/{{gameResult.computerTool}}.png">
        </ion-col>
        <ion-col text-center>
          <p>{{userName}}</p>
          <img height="80px" src="assets/imgs/{{gameResult.userTool}}.png">
        </ion-col>
      </ion-row>
      <ion-item *ngIf="gameResult.winner=='user'" text-center color="secondary">
        <span style="color:green">Winner: {{userName}}</span>
      </ion-item>
      <ion-item *ngIf="gameResult.winner=='computer'" text-center color="danger">Winner: Vader</ion-item>
      <ion-item *ngIf="gameResult.winner=='tie'" text-center color="light">Nobody won... </ion-item>
    </div>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/vader2.jpg">
      </ion-avatar>
      <ion-label>Vader Plays Quietly</ion-label>
      <ion-toggle [(ngModel)]="shutUpVader"></ion-toggle>
    </ion-item>
  </ion-list>



</ion-content>
