<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-details no-lines >
    <ion-item text-center>
      Camilo Chaves
    </ion-item>
    <ion-item text-center text-wrap>
      Electrical Engineer / Physicist / MBA in Project Management / Software Developer
    </ion-item>
    <ion-item text-wrap>
      <ion-avatar item-start>
        <img src="assets/imgs/me.jpg">
      </ion-avatar>
      <a href="http://www.linkedin.com/in/camilochaves">http://www.linkedin.com/in/camilochaves</a>
    </ion-item>
    <ion-item> Movies </ion-item>
    <ion-row>
      <ion-col><button ion-button color="danger" round (click)="Movie(1)">1</button></ion-col>
      <ion-col><button ion-button color="danger" round (click)="Movie(2)">2</button></ion-col>
      <ion-col><button ion-button color="danger" round (click)="Movie(3)">3</button></ion-col>
      <ion-col><button ion-button color="danger" round (click)="Movie(4)">4</button></ion-col>
      <ion-col><button ion-button color="danger" round (click)="Movie(5)">5</button></ion-col>
    </ion-row>
    <ion-item> Scenes </ion-item>
    <ion-item>
      <ion-slides pager="true">
        <ion-slide *ngFor="let scene of scenes">
          <img width="100%" height="100%" src="assets/imgs/{{scene.image}}" />
          <button ion-item full color="primary" (click)="Play(scene)">Play</button>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</ion-content>
